body {
    background-color: #2d89ef;
    color: white;
    font-family: 'Open Sans', monospace;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5em;
    font-weight: 300;
    overflow: hidden;
}

p {
    margin: 0;
}

.sk-circle .sk-child:before {
    background-color: white !important;
}

.sk-circle {
    width: 3em !important;
    height: 3em !important;
}